#     files to ignore     #
###########################

# Python precompile files #
###########################

*.pyc

#        IDE files        #
###########################

.idea/

#        log files        #
###########################

*.log
