<!DOCTYPE html>
<html lang="en">
<head>
    <link href="static/main.css" rel="stylesheet" type="text/css" media="all">
</head>
    <body>
    	<div class="box">
  			<h1>Log In</h1>
  			<form action="/" method="post">
    			<input type="text" name="username" id="username" placeholder="Username" required/>
    			<br>
    			<input type="password" name="password" id="password" placeholder="Password" required/>
    			<br>
    			<input type="submit" class="button" value="Log In"/>
  			</form>
		</div>
<!-- TODO discover inserting if -->
    <div class="footer">
      <h4>Made by <a href="http://www.github.com/AlterEternity">Denys Lukashevych</a></h4>
    </div>
</body>
</html>