<!DOCTYPE html>
<html lang="en">
<head>
    <link href="static/main.css" rel="stylesheet" type="text/css" media="all">
</head>
    <body>
        {% if captcha %}
    	<div class="box">
  			<h1>Log In</h1>
  			<form action="/" method="post">
                <input type="text" name="username" id="username" placeholder="Username" required
                       value="{{ username }}" readonly="readonly"/>
                <br>
    			<input type="text" name="captcha-code" id="captcha-code" placeholder="Captcha code" required/>
                {% if error %}
                <h3 style="color: red">{{ error }}</h3>
                {% endif %}
    			<input type="submit" class="button" value="Log In"/>
  			</form>
		</div>
        {% else %}
    	<div class="box">
  			<h1>Log In</h1>
  			<form action="/" method="post">
    			<input type="text" name="username" id="username" placeholder="Username" required/>
    			<br>
    			<input type="password" name="password" id="password" placeholder="Password" required/>
                {% if error %}
                <h3 style="color: red">{{ error }}</h3>
                {% endif %}
                <input type="submit" class="button" value="Log In"/>
  			</form>
		</div>
        {% endif %}
<!-- TODO discover inserting if - DONE -->
    <div class="footer">
      <h4>Made by <a href="http://www.github.com/AlterEternity">Denys Lukashevych</a></h4>
    </div>
</body>
</html>