<!DOCTYPE html>
<!--TODO complete this page to display name of user and text 'logged in: username'-->
<html lang="en">
<head>
    <link href="static/main.css" rel="stylesheet" type="text/css" media="all">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="box">
        <h2>User {{ username }} is logged in.</h2>
    </div>
    <br>
    {% if is_admin %}
        <form action="/admin/" method="post">
            <input type="submit" class="button" value="View Logs"/>
        </form>
    {% endif %}
</body>
</html>